tmp/
*.tmp
*.bak

##############
# OS Rubbish #
##############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

#####################
# IDE/Editor Config #
#####################

# Sublime Text Project Files
*.sublime-project
*.sublime-workspace

#########################
# Dependency Management #
#########################

/vendor
composer.phar

####################
# Custom additions #
####################

application/logs/log-*.php
*.log

# Environment-specific Config Files
application/config/*/*
application/config/*/*
application/config/*/*
