tmp/
*.tmp
*.bak

##############
# OS Rubbish #
##############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

####################
# Custom additions #
####################

application/logs/log-*.php
*.log

# Config Files
application/config/hybridauthlib.php
application/config/database.php
