# ######################################################################
# StudentSpreadsheet.com
# ######################################################################

Options +FollowSymlinks

# ----------------------------------------------------------------------
# Remove index.php
# ----------------------------------------------------------------------
RewriteEngine on
RewriteCond $1 !^(index\.php|assets|robots\.txt|favicon\.ico|other)
RewriteRule ^(.*)$ /index.php/$1 [L]

# ----------------------------------------------------------------------
# Custom Error Pages
# ----------------------------------------------------------------------
ErrorDocument 404 /errors/error_404.php