/*
The Student Spreadsheet
Theme: Theme 1
Author: Ollie Bennett
URL: http://olliebennett.co.uk/
*/

/* Google-style navigation */
@import url('../css/nav_google.css');

/* Body */
body {
	background-color: lightblue;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

/* Footer */
footer {
	border-top: 1px solid #D0D0D0;
	padding: 10px 20px 10px 20px;
}

/* Navigation */
nav#main {
	padding: 12px 0 10px 12px;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

a.nav {
	margin-bottom: 2px !important;
}

#container {
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
	background-color: white;
}

#content {
	padding: 20px;
}

/* Top Bar */
div#stsp_logo {
	float: left;
	margin: 5px 5px 5px 10px;
}

h1 {
	color: #444;
	background-color: transparent;
	font-size: 320%;
	font-weight: normal;
	margin: 18px 15px 10px 15px;
	text-transform:uppercase;
	float:left;
}

/* User Info box */
#user_info {
	float: right;
	height: 50px;
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}
#user_name {
	float: left;
	font-size: 1.5em;
	padding: 5px;
	height: 50px;
	text-transform:uppercase;
}
.user_pic_container{
  width:50px;
  text-decoration:none;
  position:relative;
  display:block;
  border:0px;
  padding:0px;
  margin:0px;
  float: right;
}
.user_pic_container span.user_pic_social_overlay{
  position:absolute;
  left:0%;
  bottom:0%;
  margin: 0px;
  padding: 0px;
}


h2 {
	font-size:200%;
	margin: 0 0 10px 0;
	text-transform:uppercase;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

p {
	margin: 12px 15px 12px 15px;
}

/* Purchases Table */
table#purchases tr.purchase-overview {
	cursor: help;
}
table#purchases tr.purchase-details {
	cursor: pointer;
}

span.cur_units {
	font-weight: bold;
}
span.cur_decimals {
	font-size: 85%;
	font-weight: bold;
}

label.control-label,
span#price_split_indicator {
	cursor: default;
}

span#accordion-toggle-all {
	cursor: pointer;
}